# If you're using Stripe, replace these placeholders with your own keys.
STRIPE_API_KEY=<STRIPE_API_KEY>
STRIPE_WEBHOOK_SIGNING_SECRET=<STRIPE_WEBHOOK_SIGNING_SECRET>
STRIPE_DEFAULT_PLAN_ID=<STRIPE_DEFAULT_PLAN_ID>
# this is the number of days that will be given to users for trialing
STRIPE_DEFAULT_TRIAL_DAYS=30

# The allowed host determines what hostnames are allowed to be used for return URLs back from the Stripe billing portal
# If you need to add multiple  you can add them directly in the billing-functions function
ALLOWED_HOST=http://localhost:3000
